* {
  box-sizing: border-box;
}
header, footer {
  margin: 0;
  background-color: #372515;
  color:#e3dcd4;
}
h1 {
  margin: 0;
  padding: 2rem;
  color:#e3dcd4;
  text-align: center;
}
main {
  margin: 0;
  background-color: #c69141;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  margin: 1rem;
}
.card-body {
  background-color: #e3dcd4;
  text-align: center;
  color: #3c443f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer p {
  padding: 2rem;
  text-align: center;
}